.inputFile {
    display: block;
    width: 350px;
    margin: 10px auto;
    padding: 8px;
    margin: 16px 0;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
}

.inputFile::file-selector-button {
    border: none;
    background-color: #ff00ee;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: all .2s;
}

.inputFile::file-selector-button:hover {
    background-color: #b900ad;
}

.fileName {
    font-weight: bold;
    color: #333;
}

.fileUrl {
    color: #ff00ee;
    text-decoration: none;
}

.fileUrl:hover {
    text-decoration: underline;
}

.filePreview {
    display: inline-block;
    padding: 8px;
    background-color: #f0f0f0;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    color: #ff00ee;
}

.filePreview:hover {
    background-color: #e6e6e6;
}

.modalTop {
    border-radius: 8px;
}

.modalContent {
    width: 100%;
    max-height: 450px;
    object-fit: contain;
    border-radius: 4px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.uploadsTable{
    width: 80%;
}